p{
    background-color: #fff;
    color: rgb(99, 58, 99);
}
.lorem{
    background-color: red;
    color: aliceblue;
}
.hi{
    background-color: green;
    color: beige;
}
.hello{
    background-color: brown;
    color: beige;
}